# Build directories
**/build/
**/target/
**/dist/

# Compiled files
**/*.o
**/*.out
**/*.exe
**/*.so
**/*.a

# Editor and IDE files
.vscode/
.idea/
*.swp
*~

# Python
**/__pycache__/
**.pyc
**.pyo
**.pyd

# Rust
**/*.rs.bk

# Haskell
**/*.hi
**/*.ho
**.stack-work/
